/*Never delete anything below this line -- EVER*/
.ys_primary{ background:#000000;color:#ffffff;font:bold 11px Arial,verdana,sans-serif;padding:1px 5px;text-align:center;cursor:pointer; display:inline; margin-top:10px;}

#container {width: 950px;}

#bodycontent {width: 800px;}
