.ys_promo_banner{margin:10px;width:520;}
.ys_promo_banner .ys_promo_banner_image{height:80px;width:120px;float:left;margin:10px;}
.ys_promo_banner .ys_promo_banner_image_default{background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: 14px -435px;background-repeat: no-repeat;}
.ys_promo_banner .ys_promo_banner_ship_image_default{background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: 14px -528px;background-repeat: no-repeat;}
.ys_promo_banner .ys_promo_design_block{float:left;margin-top:10px;width:70%;}
.ys_promo_banner .ys_promo_banner_title{margin-left:5px;font-size:20px;font-weight:bold;margin-bottom:5px;margin-top:5px;word-wrap:break-word;}
.ys_promo_banner .ys_promo_banner_desc{margin-left:5px;font-size:14px;word-wrap:break-word;}
.ys_promo_banner .ys_promo_clear{clear:both}
#ys_promo_banner_list .ys_promo_banner{list-style:none;display:none;}
#ys_promohome{clear:both;}
#ys_promohome a{text-decoration:none;color:#000000;}
#ys_promoitempage{display:none;width:100%;margin:0;}
#ys_promoitem {display: table;margin:auto;}
.ys_promo_item {height:42px;list-style: none outside none;margin-top:5px;}
.ys_promo_item_list{margin:0}
.ys_promo_item_offer {background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: 0 -104px;background-repeat: no-repeat;height:42px;padding: 0;float: left;width:42px;}
.ys_promo_ship_offer {background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: 0 -150px;background-repeat: no-repeat;height:42px;padding: 0;float: left;width:42px;}
.ys_promo_item_offer_image {height: 42px;padding: 0;float: left;width: 40px;}
.ys_promo_item_title {float: left;margin-top: 10px;margin-left:5px;}
.ys_promo_item_grid_div {height:40px;}
.ys_promo_item_grid_offer {background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: 0 -108px;background-repeat: no-repeat;height: 32px;padding: 0;float: left;width: 32px;}
.ys_promo_ship_grid_offer {background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: 0 -150px;background-repeat: no-repeat;height: 32px;padding: 0;float: left;width: 32px;}
.ys_promo_multiple_grid_offer {background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: 0 -201px;background-repeat: no-repeat;height: 32px;padding: 0;float: left;width: 32px;}
.ys_promo_item_grid_offer_image {height: 40px;padding: 0;float: left;width: 40px;}
.ys_promo_item_grid_title {float: left;margin-top: 8px;margin-left:5px;}
#promo_banner_nav {float:right;margin-right:10px;}
#ys_promo_banner_nav_prev,#ys_promo_banner_nav_next,#ys_promo_banner_nav_play,#ys_promo_banner_nav_pause{height:22px;width:25px;background-repeat: no-repeat;padding: 0; float: left;cursor:pointer;}
.ys_promo_banner_nav_prev { background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png"); background-position: 0 -354px;}
.ys_promo_banner_nav_next{background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: -24px -354px;} 
.ys_promo_banner_nav_play{background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: -24px -828px;} 
.ys_promo_banner_nav_pause{background-image: url("https://s.yimg.com/sv/promomgr/bui/images/sprites-BUI_0.5.png");background-position: -24px -792px;} 
.ys_enabledNext{background-position: -24px -360px;}
.ys_enabledPrev{background-position: 0px -360px;}
.ys_disabledNext{background-position: -24px -398px;}
.ys_disabledPrev{background-position: 0px -398px;}
